body,h1,h2,h3,h4,p {
    margin: 0px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header_content {
    display: flex;
    max-width: 1200px;
    flex: 1;
    padding: 30px 5px 30px 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}